
.setting {
    display: inline-flex;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 3px 3px 0;
    padding-left: 7px;
    height: 32px;
    align-items: center;

    &:last-child {
        padding-right: 7px;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        line-height: 10px;

        svg {
            width: 20px;
            height: 20px;

            &.bold {
                transform:scale(0.7)
            }
        }

    }

    [type='number'] {
        padding: 4px 0 4px 4px;
        border: 0;
        background: 0;
        border-radius: 0 5px 5px 0;
        width: 50px;
        font-size: inherit;
        font-family: inherit;
        text-align: right;
        outline: 0;
    }

}

