<div style="display:flex;">

    <div #element1>
        <select [(ngModel)]="font1" (ngModelChange)="useFont($event, element1)">
            @for (font of fonts; track font) {
                <option [ngValue]="font"> {{ font.family }}</option>
            }
        </select>
        <p>safadé fakdsfé akdsf éaskdfaé dfk</p>
    </div>


    <div #element2>
        <select [(ngModel)]="font2" (ngModelChange)="useFont($event, element2)">
            @for (font of fonts; track font) {
                <option [ngValue]="font"> {{ font.family }}</option>
            }    </select>
        <p>safadé fakdsfé akdsf éaskdfaé dfk</p>
    </div>

</div>

<router-outlet></router-outlet>
