$settingsWidth: 230px;
$gutter: 15px;

.selected {
    color: #00b000
}

.warn {
    color: #e10101;
}

.gap:not(.horizontal) > *:not(:last-child) {
    margin-bottom: 4px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.gap > *:not(:last-child) {
        margin-right: 4px;
    }
}

.wrap {
    flex-wrap: wrap;
}

.button, .icon-button {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: normal;
    border: none;
    height: 28px;
    min-width: 8px;
    line-height: 28px;
    font-size: inherit;
    font-family: inherit;
    box-sizing: content-box;
    cursor: pointer;

    &.active {
        background: rgba(100, 100, 100, 0.5);
    }

    i {
        font-size: 16px
    }

    i:not(:last-child) {
        margin-right: 8px;
    }

    i.small {
        font-size: 10px
    }
}

.icon-button {
    border-radius: 999px;
    line-height: 27px;
    font-size: 14px;

    i {
        width: 16px !important;
        text-align: center
    }
}


.global-settings {
    overflow: auto;
    position: fixed;
    top: $gutter;
    left: $gutter;
    bottom: $gutter;
    color: black;
    width: $settingsWidth - $gutter;
    display: flex;
    flex-direction: column;
    gap: $gutter;

    .setting-group {
        background: white;
        padding: $gutter;
        border-radius: 8px;
    }

    & > .setting {
        display: flex;
        margin-bottom: 2px;
        border-radius: 4px;
    }


    .swap-colors-button {
        background-color: transparent;
    }

    .inline-listing {
        display: flex;
        flex-wrap: wrap;

        .button {
            margin-right: 4px;
            margin-bottom: 4px;
        }
    }

    .checkbox {
        display: inline-block;
        width: auto !important;

        .button {
            display: inline-block;
        }

        [type='checkbox'] {
            display: none;

            &:checked + .button, &:checked + .icon-button {
                background: rgba(100, 100, 100, 0.5);
            }
        }

    }

    [type='color'] {
        padding: 0;
        border: 0;
        background: 0;
        width: 36px;
        height: 30px;

        &::-webkit-color-swatch {
            border-radius: 4px;
        }
    }
}

.spacer {
    flex: 1;
}

.models {
    margin: 0;
    padding-left: $settingsWidth;
    overflow: auto;
    min-height: 100vh;
}

.model {
    display: flex;
    align-items: flex-start;
    padding: $gutter;
    border-radius: 10px;
    box-sizing: border-box;

    h1 {
        margin-top: 0;
    }

    .model-tools {
        flex-shrink: 0;
        background: white;
        color: black;
        width: 260px;
        margin-right: 20px;
        padding: $gutter;
        border-radius: 4px;
        font-size: 16px;
    }

    .model-sub-tools {

        & > .button {
            flex-shrink: 0;
        }
    }

    .model-body {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;

        .title, .body {
            border: none;
            font-family: inherit;
            line-height: inherit;
            color: inherit;
            background: transparent;
            font-weight: inherit;
            letter-spacing: inherit;
            word-spacing: inherit;
            font-style: inherit;
            font-variant: inherit;
            text-align: inherit;
        }

        & > *:not(:last-child) {
            margin-bottom: 0.5em;
        }

        .title {
            font-size: 2em;
            line-height: 1em;
            height: 2em;
        }

        .body {
            font-size: 1em;
            resize: none;
        }
    }
}

.mode-logo {
    $line-multplier: 2em;

    .title {
        width: 100%;
        font-size: inherit !important;
        min-height: $line-multplier;
        line-height: $line-multplier;
        height: $line-multplier;
    }

    &.horizontal {
        .title {
            text-align: center !important;
        }
    }

    .model {
        min-height: $line-multplier;
        align-items: center;
        margin-bottom: 0;
    }
}

.horizontal-layout {
    display: flex;
    align-items: flex-start;

    &.mode-logo .model-body {
        text-align: center !important;
    }

    .model {
        flex-direction: column;
        flex: 1;
        min-width: 500px;
        max-width: 800px;

        .model-tools {
            margin-bottom: 20px;
        }
    }
}

.expanded {
    .model {
        $width: calc(100vw - $settingsWidth);
        flex-shrink: 0 !important;
        flex-basis: $width !important;
        width: $width !important;
        height: calc(100vh) !important;
        max-width: none !important;
        max-height: none !important
    }
}

.expanded.horizontal-layout {
    .model {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    position: fixed;
    padding: 0;
    bottom: 20px;
    right: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

    i {
        position: relative;
        left: -1px;
        font-size: 22px;
    }
}

.cdk-drag-preview {

    backdrop-filter: blur(10px);
    background: transparent;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

    .body, .title {
        opacity: 0
    }
}

.cdk-drag-placeholder {
    * {
        opacity: 0;
    }

    border: 2px dashed rgba(123, 123, 123, 0.5);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
