$settingsWidth: 250px;
$gutter: 24px;
$box-padding: 20px;

.selected {
    color: #00b000
}

.warn {
    color: #e10101;
}

.gap {
    gap: 4px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.button, .icon-button {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: normal;
    border: none;
    height: 28px;
    min-width: 8px;
    line-height: 28px;
    font-size: inherit;
    font-family: inherit;
    box-sizing: content-box;
    cursor: pointer;

    &.active {
        background: rgba(100, 100, 100, 0.5);
    }

    i {
        font-size: 16px
    }

    i.small {
        font-size: 10px
    }
}

.icon-button {
    border-radius: 999px;
    line-height: 27px;
    font-size: 14px;

    i {
        width: 16px !important;
        text-align: center
    }
}

// Boxes
.setting-group,
.model-tools {
    background: white;
    //background: rgba(255, 255, 255, 0.1);
    color: black;
    padding: $box-padding;
    border-radius: 8px;
}


.global-settings {
    overflow: auto;
    position: fixed;
    top: 0;
    left: $gutter;
    bottom: 0;
    padding-top: $gutter;
    padding-bottom: $gutter;
    color: black;
    width: $settingsWidth - $gutter;
    display: flex;
    flex-direction: column;
    gap: $gutter;

    & > .setting {
        display: flex;
        margin-bottom: 2px;
        border-radius: 4px;
    }


    .swap-colors-button {
        background-color: transparent;
    }

    .inline-listing {
        display: flex;
        flex-wrap: wrap;

        .button {
            margin-right: 4px;
            margin-bottom: 4px;
        }
    }

    .checkbox {
        display: inline-block;
        width: auto !important;

        .button {
            display: inline-block;
        }

        [type='checkbox'] {
            display: none;

            &:checked + .button, &:checked + .icon-button {
                background: rgba(100, 100, 100, 0.5);
            }
        }

    }

    [type='color'] {
        padding: 0;
        border: 0;
        background: 0;
        width: 36px;
        height: 30px;

        &::-webkit-color-swatch {
            border-radius: 4px;
        }
    }
}

.spacer {
    flex: 1;
}

.models {
    margin: 0 0 0 $settingsWidth + calc($gutter / 2);
    padding-bottom: 75vh; // to allow top alignement
    overflow: auto;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;

    &.horizontal-layout {
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 0;
        padding-right: 50vw;

        .model {
            flex-direction: column;

            .body {
                width: 70ch;
            }

            .model-tools {
                margin-right: 0;
                margin-bottom: $gutter;
            }
        }

        &.mode-logo {
            .model {
                min-width: auto;
            }

            .model-body {
                text-align: center !important;
            }
        }
    }

    &.expanded {
        padding-bottom: 0;
        padding-right: 0 !important;

        .model {
            flex-shrink: 0 !important;
            height: calc(100vh) !important;
            max-width: none !important;
            max-height: none !important;
            align-items: center;
            margin-right: 0;
        }
    }

    &.expanded.horizontal-layout {
        .model {
            $width: calc(100vw - $settingsWidth);
            width: $width !important;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 0 !important;
            height: calc(100vh) !important;
        }
    }

}

.model {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: $gutter;
    margin-right: $gutter;

    h1 {
        margin-top: 0;
    }

    .model-tools {
        flex-shrink: 0;
        width: 260px;
        margin-right: $gutter;
        font-size: 16px;
        position: relative;
        left: 10px
    }

    .model-sub-tools {

        & > .button {
            flex-shrink: 0;
        }
    }

    .model-body {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        max-width: 70ch;
        gap: 0.5em;

        $small-gutter: calc($gutter / 2);

        .title, .body {
            border: none;
            font-family: inherit;
            line-height: inherit;
            color: inherit;
            background: transparent;
            font-weight: inherit;
            letter-spacing: inherit;
            word-spacing: inherit;
            font-style: inherit;
            font-variant: inherit;
            text-align: inherit;
            overflow: hidden;
            outline: none;
            border-radius: 8px;
            //position:relative;
            //left:- $small-gutter;

            &:hover {
                background: rgba(255, 255, 255, 0.1)
            }
        }

        .title {
            font-size: 2em;
            line-height: 2em;
            height: 2em;
            width: 100%;
            padding: 0 $small-gutter;
        }

        .body {
            font-size: 1em;
            resize: none;
            width: 100%;
            padding: $small-gutter $small-gutter 0 $small-gutter;
        }
    }
}

.mode-logo {
    $line-multplier: 2em;

    .title {
        width: 100%;
        font-size: inherit !important;
        min-height: $line-multplier;
        line-height: $line-multplier;
        height: $line-multplier;
    }

    &.horizontal {
        .title {
            text-align: center !important;
        }
    }

    .model {
        min-height: $line-multplier;
        align-items: center;
        margin-bottom: 0;
    }
}


.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    position: fixed;
    padding: 0;
    bottom: 20px;
    right: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

    i {
        position: relative;
        left: -1px;
        font-size: 22px;
    }
}

.cdk-drag-preview {

    backdrop-filter: blur(10px);
    background: transparent;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

    .body, .title {
        opacity: 0
    }
}

.cdk-drag-placeholder {
    * {
        opacity: 0;
    }

    border: 2px dashed rgba(123, 123, 123, 0.5);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
